<li class="connection">
  <div class="list-with-actions__item" >
    <div class="primary_content">
      <%= connection.fullname %>
    </div>

    <div class="actions">
      <div class="as_list mdl-cell--hide-phone">
        <ul>
          <li>
            <%= button_link_to(I18n.t("connections.actions.edit.button"), edit_user_connection_path(@user,connection), {method: :get, class: "edit"} ) %>
          </li>
          <li>
            <%= button_link_to(I18n.t("connections.actions.delete.button"), user_connection_path(@user,connection),
                  {
                    method: :delete,
                    class: "delete",
                    remote: false,
                    data: {
                      confirm: t("connections.views.delete.confirm.message"),
                      #keys are with '-', for consistency
                      #if underscore is used 'confirm_yes', still dashed 'data-confirm-yes = "YES"' is generated in html
                      "confirm-yes": t("confirm.yes"),
                      "confirm_no": t("confirm.no")
                    }
                  }
                )
            %>
          </li>
        </ul>
      </div>

      <div class="as_menu mdl-cell--hide-desktop mdl-cell--hide-tablet">
        <button id="connection-actions-menu-<%= connection.id %>" class="mdl-button mdl-js-button mdl-button--icon">
           <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="connection-actions-menu-<%= connection.id %>">
          <li class="mdl-menu__item">
            <%= link_to(I18n.t("connections.actions.edit.button"), edit_user_connection_path(@user,connection), {method: :get, class: "edit"} ) %>
          </li>
          <li class="mdl-menu__item">
            <%= link_to(I18n.t("connections.actions.delete.button"), user_connection_path(@user,connection),
                  {
                    method: :delete,
                    class: "delete",
                    remote: false,
                    data: {
                      confirm: t("connections.views.delete.confirm.message"),
                      #keys are with '-', for consistency
                      #if underscore is used 'confirm_yes', still dashed 'data-confirm-yes = "YES"' is generated in html
                      "confirm-yes": t("confirm.yes"),
                      "confirm_no": t("confirm.no")
                    }
                  }
                )
            %>
          </li>

        </ul>
      </div>

    </div>
  </div>
</li>
