 <% add_jquery_ui %>

 <%= form_for(@wish,as: :wish, url: url) do |f| %>
  <%= render partial: "/shared/errors", locals: {f_object: @wish} %>
    <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :title, @wish.persisted? ? t("wish.from_author.views.edit.title") : t("wish.from_author.views.new.title"),  class: "mdl-textfield__label" %>
      <%= f.text_field :title, class: "mdl-textfield__input" %>
    </div>
    <br />
    <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :description, t("wish.from_author.views.edit.description"),  class: "mdl-textfield__label" %>
      <%= f.text_area :description, class: "mdl-textfield__input" %>
    </div>

    <div class="actions">
      <%= form_submit_button %>
    </div>

    <div class=" mdl-grid" id="user_connections">
     <%= render partial: "donee_connections_form", locals: {wish: @wish} %>
     
     <%= render partial: "/wishes/unused_connections_form", locals: {wish: @wish} %>

     <%= render partial: "/wishes/donor_connections_form", locals: {wish: @wish} %>
    </div>

<% end %>

<script type="text/javascript">
$( document ).ready(function() {
  var selectors_hash = {};
  selectors_hash['lists_container']="#user_connections";
  selectors_hash['unused_list']="#unused_connections";
  selectors_hash['other_lists_arr']=["#donor_connections","#donee_connections"];
  
  if($(selectors_hash['lists_container']).length != 0) {
    create_three_panels(selectors_hash);
    move_unchecked_items_to_unused(selectors_hash);
    remove_duplicates_between_lists(selectors_hash);
    hide_checkboxes(selectors_hash);
  }
});
</script>
