<%= form_for(@wish,as: :wish, url: url) do |f| %>
  <%= render partial: "/shared/errors", locals: {f_object: @wish} %>
    <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :title, @wish.persisted? ? t("wishes.from_author.views.edit.title") : t("wishes.from_author.views.new.title"),  class: "mdl-textfield__label" %>
      <%= f.text_field :title, class: "mdl-textfield__input" %>
    </div>
    <br />
    <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :description, t("wishes.from_author.views.edit.description"),  class: "mdl-textfield__label" %>
      <%= f.text_area :description, class: "mdl-textfield__input" %>
    </div>

    <div class="actions">
      <%= form_submit_button(I18n.t("wishes.actions.save.button")) %>
    </div>

    <div class=" mdl-grid" id="user_connections">
      <p class="help mdl-cell--12-col"><%= t("wishes.from_author.views.edit.groups_are_good_for") %></p>

      <%= render partial: "donee_connections_form", locals: {wish: @wish} %>

      <%= render partial: "/wishes/unused_connections_form", locals: {wish: @wish} %>

      <%= render partial: "/wishes/donor_connections_form", locals: {wish: @wish} %>
    </div>

<% end %>

<%= render partial: "/wishes/groups_for_js" %>
<script type="text/javascript">
$( document ).ready(function() {
  var selectors_hash = {};
  selectors_hash['lists_container']="#user_connections";
  selectors_hash['unused_list']="#unused_connections";
  selectors_hash['other_lists_arr']=["#donor_connections","#donee_connections"];

  create_3_panel_selection(selectors_hash);

});
</script>
