 	<div id="edit_group">
	  <%= form_for([@user,@group]) do |f| %>
      <%= render partial: "/shared/errors", locals: {f_object: @group} %>
			  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				  <%= f.label :name, t("group.views.add.name"),  class: "mdl-textfield__label" %>
				  <%= f.text_field :name, class: "mdl-textfield__input" %>
				</div>
				<div class="actions">
				  <%= form_submit_button %>
				</div>
	

        
      <div class="group mdl-grid lists-of-checkboxes lists-of-checkboxes_two_panels" id="group_connections">
		    <div class="md-cell list-of-unchecked" id="connections_not_in_group">
		      <%= render partial: "connections_select", locals: {connections: (@user_connections-@group.connections)} %>
		    </div>
		    <div class="mdl-layout-spacer"></div>
        <div class="md-cell list-of-checked" id="connections_in_group">
		    	<%= render partial: "connections_select", locals: {connections: @group.connections} %>
		    </div>
      </div>
      
  	<% end %>
	</div>
