<h3><%= t("group.views.header") %></h3>

<div id="groups">
 	<div id="add_group" class="form-add">
	  <%= form_for([@user,@group]) do |f| %>
      <%= render partial: "/shared/errors", locals: {f_object: @group} %>
			  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				  <%= f.label :name, t("group.views.add.name"),  class: "mdl-textfield__label" %>
				  <%= f.text_field :name, class: "mdl-textfield__input" %>
				</div>
				<div class="actions">
				  <%= form_next_button %>
				</div>
		<% end %>
		<%= add_new_button %>
	</div>

	<div id="groups_list" class="list">
		<h4><%= t("group.views.list.header") %></h4>
		<ul class="list-with-actions">
		  <%= render( partial: "group", collection: current_user.groups) || t("group.views.list.none") %>
	  </ul>
	</div>
</div>       
       