<% add_jquery_ui %>

<h3><%= @wish.title %></h3>
<p><%= @wish.description %></p>

<%= form_for(@wish, url: user_my_wish_path(current_user,@wish)) do |f| %>
  <%= render partial: "/shared/errors", locals: {f_object: @wish} %>
  <div class="actions">
    <%= form_submit_button %>
  </div>

  <div class=" mdl-grid" id="user_connections">
    <%= render partial: "/wishes/unused_connections_form", locals: {wish: @wish} %>

    <%= render partial: "/wishes/donor_connections_form", locals: {wish: @wish} %>
  </div>

<% end %>

<script type="text/javascript">
$( document ).ready(function() {
  var selectors_hash = {};
  selectors_hash['lists_container']="#user_connections";
  selectors_hash['unused_list']="#unused_connections";
  selectors_hash['other_lists_arr']=["#donor_connections"];
  
  if($(selectors_hash['lists_container']).length != 0) {
    create_three_panels(selectors_hash);
    move_unchecked_items_to_unused(selectors_hash);
    remove_duplicates_between_lists(selectors_hash);
    hide_checkboxes(selectors_hash);
  }
});
</script>
