<div id="donee_wish_show">
  <h3><%= @wish.title %></h3>
  <p><%= raw to_html(@wish.description) %></p>
  <%= render partial: "actions", locals: {wish: @wish} %>

  <div class="mdl-grid" id="wish_connections">

    <div class="donees mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet"  id="donee_connections">
       <h4><%= t("wishes.donees.header") %></h4>
        <ul class="connection_list mdl-list">
        <% for conn in (@wish.donee_connections) %>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content"><%= conn.fullname %></span>
          </li>
        <% end %>
        </ul>
    </div>
    
    <div class="mdl-layout-spacer"></div>
    
    <div class="donors mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet" id="donor_connections">
      <h4><%= t("wishes.donors.header") %></h4>
      <p><%= t("wishes.from_donee.views.show.donors.count", total: @wish.donor_connections.count , owns: @wish.donor_connections.owned_by(current_user).count ) %>
        <ul class="connection_list mdl-list">
        <% for conn in (@wish.donor_connections.owned_by(current_user)) %>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content"><%= conn.fullname %></span>
          </li>
        <% end %>
        </ul>
    </div>

  </div>
</div>  
