<% set_page_title(t("devise.sign_in") ) -%>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :email, class: "mdl-textfield__label" %>
    <%= f.email_field :email, autofocus: true,  autocomplete: "on", class: "mdl-textfield__input" %>
  </div>

  <br />

  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :password, class: "mdl-textfield__label" %>
    <% 
       html_atts= {class: "mdl-textfield__input", autocomplete: "off"}
       if @minimum_password_length
         html_atts[:pattern]= ".{#{@minimum_password_length},}"
         err_msg=t("devise.passwords.minimum_length", min: @minimum_password_length)
       end 
    %>
    <%= f.password_field :password, html_atts %>
    <span class="mdl-textfield__error"><%= err_msg %></span>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= switch_for(f, :remember_me) %>
    </div>
  <% end -%>

  <br />

  <div class="actions">
    <%= f.submit(t("devise.sessions.sign_in_button"), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" ) %>
  </div>
<% end %>
