
<header class="mdl-layout__header">
      
  <div class="mdl-layout__header-row">
    
    <span class="mdl-layout-title">
      <%= link_to(image_tag( "logo.png", size: "96", id:"logo"), root_url) %>
    </span>
    <div class="mdl-layout-spacer"></div>

    <nav class="mdl-navigation">
      <%= render partial: "/navigation_links", locals: {link_class: "mdl-navigation__link"} %>


<button id="locale-switcher" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">language</i>
</button>
<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="locale-switcher">
    <li class="mdl-menu__item"><%= link_to("Čeština", change_locale_path( params: {locale: :cs })) %></li>
    <li class="mdl-menu__item"><%= link_to("English", change_locale_path( params: {locale: :en })) %></li>
</ul>

    </nav>

  </div>

</header>

<div id="main_menu" class="mdl-layout__drawer">
  <span class="mdl-layout-title"><%= t("rybickazlata.name") -%></span>
  <nav class="mdl-navigation">
      <%= render partial: "/navigation_links", locals: {link_class: "mdl-navigation__link"} %>
  </nav>
</div>

